.dark {
    background: #202020;
    /* width: 100%;
    height: 100%; */
    padding: 1vw 8vw;
}

.grayText {
    color:#5c5c5c !important;
    font-family: Roboto-Bold;
}

.grayThinText {
    color:#5c5c5c !important;
    font-family:  Roboto-Light;
}

.darkText {
    color:#000 !important;
    font-family: Roboto-Bold;
}

.darkThinText {
    color:#000 !important;
    font-family:  Roboto-Light;
}

.lightText {
    color:#fff;
    font-family: Roboto-Bold;
}

.lightThinText {
    color:#fff !important;
    font-family: Roboto-Light;
}

.titleText {
  color: #171717;
  font-family: Roboto-Bold;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

 .titleLightText {
  color: #fff;
  font-family: Roboto-Bold;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  line-height: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap;
 }

 .dateText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b3b3b3;
  font-size: 14px;
  font-family: Roboto-Bold;
  line-height: 1.5em;
 }
 
.nameEvent {
    color:#202020 !important;
    font-family: LeagueSpartan;;
}
 
/* ---- */
.darkTextTitle{
    color:#202020;
    font-family: LeagueSpartan;
    font-size: 200%;
    font-size: 3vmax;
}

.darkTextHeading{
    color:#202020;
    font-family: LeagueSpartan;
    font-size: 2.5vmax !important; 
}

.darkTextSubHeading{
    color: #202020 !important;
    font-family: LeagueSpartan;
    font-size: 2vmax !important;
}

.darkTextBody{
    color: #202020 !important; 
    font-family: LeagueSpartanLight;
    font-size: 1.5vmax !important;
    font-weight: 100 !important;
    text-align: left;
}

.lightTextTitle{
    color:#fff;
    font-family: LeagueSpartan;
    font-size: 200%;
    font-size: 3vmax;
}

.lightTextHeading{
    color:#fff;
    font-family: LeagueSpartan;
    font-size: 2.5vmax !important; 
}

.lightTextSubHeading{
    color: #fff !important;
    font-family: LeagueSpartan;
    font-size: 2vmax !important;
}

.lightTextBody{
    color: #f9f9f9 !important; 
    font-family: LeagueSpartanLight;
    font-size: 1.5vmax !important;
    font-weight: 100 !important;
    text-align: justify;
}
/*-----*/
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.centerHorizonal {
  display: table;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  /* background: #202020; */
  /* width: 100%;
  height: 100%; 
  padding: 25px 50px;*/
}

.centerVertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content {
    width:100%;
    display: flex;
    justify-content: center;
    /* background: #202020 */
} 

.trendIndex{
    position: absolute; 
    bottom: 15%; 
    right: 5%; 
}

.trendImg{
    display: block; 
}

.trendContainer{
    position: relative;
}

.trendIndexFont{
    color: #f9f9f9 !important; 
    font-family: LeagueSpartan;
    font-size: 16px !important;
    padding-left: 5px;
}

.trendSubFont{
    color: #f9f9f9 !important; 
    font-family: LeagueSpartanLight;
    font-size: 18px !important;
    padding-left: 38px;
}

.dotMargin{
    margin: 0;
}

.buttonOval{
  width: 100%;
  background-color: #ec1d24; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: LeagueSpartan;
  cursor: pointer;
}

.buttonOval:hover {
  background-color: #C51117; 
}

.btnLogin {
  width: 100%;
  background-color: #ec1d24; 
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: LeagueSpartan;
  cursor: pointer;
}
.btnLogin:hover {
  background-color: #C51117; 
}

.writeComment {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    /* background: #202020; */
    /* width: 100%;
    height: 100%; 
    padding: 25px 50px;*/
}

.comment{
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
  height: 100px !important;
  padding: 10px 10px;
  margin: 0;
  border: 2px solid rgba(222,222,222,0); 
  color: #333;
  background-color: #fff;
  font-size: 15px;
  line-height: 18px;
  -webkit-appearance: none;
  resize: none;  
}
.comment:focus, .comment:hover{
  border-color: #000;
}

.btnCbox{
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
  z-index: 10;
  width: 20vw;
  height: 100px;
  background: #ec1d24;
  border-color: #ec1d24;
  font-family: LeagueSpartan;
  font-size: 18px;
  color: #fff;
}

.btnCbox:hover{
  background: #C51117;
  border-color: #C51117;
}

.btnCbox:focus{
  background: #202020;
  border-color: #202020;
}

.u_cbox_avatar{
  position: absolute;
  top: 15px;
  left: 5px;
}

.u_cbox_comment_box {
  overflow: hidden;
  position: relative;
  padding: 14px 15px 10px 62px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 17px;
}

.u_cbox_name{
  display: inline-block;
  vertical-align: middle;
  max-width: 55%;
  font-family:  Roboto-Bold;
  font-size: 16px;
  font-weight: 500;
  color: #2a2a2a;
  line-height: 22px;
}

.u_cbox_contents{
  display: block;
  overflow: hidden;
  font-family:  Roboto-Bold;
  font-size: 15px;
  line-height: 20px;
  color: #5f5f5f;
  word-break: break-word;
  word-wrap: break-word;
}

.u_cbox_date {
  display: block;
  font-family: Roboto-Bold;
  font-size: 13px;
  color: #999;
}

.u_cbox_comment_none {
  padding: 120px 0;
  font-size: 16px;
  line-height: 20px;
  color: #aaa;
  text-align: center;
  font-family: Roboto-Light;
}

.detailBox{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.detailNameBox{
  max-width: 240px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: pre-wrap;
  line-height: 28px;
  font-size: 24px !important;
  font-family: LeagueSpartan;
  color: #000;
}

.detailImgBox {
  position: relative;
  display: block;
  align-self: flex-start;
  height: 40px;
  width: 40px;
}

/* fav */
.inLine {
  display: inline-block;
}

.favBody{
  display: block;
  height: 88px;
  white-space: nowrap;
  position: relative;
  border-bottom: 1px solid #f5f5f5
}

.favImg{
  position: relative;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
}

.favTitle{
  margin-left: 12px;
  font-size: 16px;
  color:#f5f5f5;
  font-family: Roboto-Bold;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50vw;
}

.favIcon{
  bottom: 0;
  right: 0;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.btnReadmore{
  display: block;
  overflow: hidden;
  color: #5f5f5f;
  font-size: 14px;
  border: 1px solid #5f5f5f;
  border-radius: 25px;
  font-family: LeagueSpartanLight;
  background-color: transparent;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
}

.imageContainer {
  width: 100vw;
  height: 65vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
} 

.favNum {
  margin-left: 8px;
  font-size: 12px;
  color:#f5f5f5;
  font-family: Roboto-Bold;
}

.flagNumber{
  margin-left: 7px;
  margin-right: 14px;
  font-size: 16px;
  color:#f5f5f5;
  font-family: LeagueSpartanLight;
  font-weight: bold;
}

/* themehover v1 */
.content{
	width: 320px;
	margin: 20px auto;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	}

  .imgWrap{
		overflow: hidden;
	}

  .imgEff{
		position: relative;
		width: 320px;
		height: 180px;
		cursor: pointer;
		transition-duration: 0.3s;
	}

  .imgEff:before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Read More";
    width: 320px;
    height: 180px;
    background: radial-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1));
    color: #fff;
    font-size: 22px;
    font-family: 'Patua One', cursive;
    letter-spacing: 4px;
    text-shadow: 0 0 2px #000;
    filter: blur(4px);
    transition-duration: 0.3s;
    opacity: 0;
  }
  .imgEff:hover{
    transform: scale(1.1);
  }

  .imgEff:hover:before{
    transform: scale(1.3);
    filter: blur(0);
    opacity: 1;
  }

  /* themehover v2 */
 